@media only screen and (min-width: 550px) {
  .wrapper {
    transition: filter 0.3s ease-in-out;
  }

  .wrapper.blurred {
    filter: blur(5px);
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
    display: none;
  }

  .overlay.active {
    display: block;
    backdrop-filter: blur(1vw);
    z-index: 1;
  }

  .contAll {
    color: #000000;
    font-family: "Chakra Petch", sans-serif;
    font-size: 1.7vw;
    font-weight: 500;
    text-shadow: 0.1vw 0.2vw 0.2vw rgba(0, 0, 0, 0.5);
    background: #fcfcfc;
    height: 2vw;
    box-shadow: 0.15vw 0.2vw 0.2vw #14ff00;
    border-radius: 1.1vw;
    padding: 0.2vw 1.3vw;
    cursor: pointer;
  }
  .contVideo {
    color: #ffffff;
    font-family: "Chakra Petch", sans-serif;
    font-size: 1.7vw;
    font-weight: 500;
    text-shadow: 0.1vw 0.15vw 0.2vw rgba(255, 255, 255, 0.2);
    background: #000000;
    height: 2vw;
    border-radius: 1.1vw;
    padding: 0.2vw 1.3vw;
    cursor: pointer;
    margin-left: 0.5vw;
  }
  .discover {
    background: #000000;
    border-radius: 1.5vw 1.5vw 0px 0px;
    width: 96vw;
    min-height: 56.75vh;
    margin: 0 2vw;
    padding-top: 5.5vw;
    padding-bottom: 4vw;
  }
  .discoverBar {
    width: 75vw;
    display: flex;
    flex-direction: row;
    color: #ffffff;
    font-family: "Chakra Petch", sans-serif;
    font-size: 1.7vw;
    font-weight: 500;
    text-shadow: 0.1vw 0.15vw 0.2vw rgba(255, 255, 255, 0.2);
    height: 2.5vw;
    padding: 1vw 1.3vw;
    padding-bottom: 0.7vw;
    margin-left: 10vw;
    margin-right: 10vw;
    justify-content: space-around;
    align-self: start;
    background: #1e1e1e;
    box-shadow: 0vw 0.2vw 0.2vw #fff500;
    border-radius: 0px 0px 1.2vw 1.2vw;
    position: fixed;
    margin-top: -0.65vh;
    z-index: 99;
  }
  #filter {
    color: #000000;
    font-family: "Chakra Petch", sans-serif;
    font-size: 1.5vw;
    font-weight: 500;
    text-shadow: 0.1vw 0.1vw 0.2vw rgba(0, 0, 0, 0.5);
    background: #fcfcfc;
    height: 2.5vw;
    width: 17.5vw;
    box-shadow: 0.15vw 0.2vw 0.2vw #ffffff;
    border: 0;
    border-radius: 0.7vw;
    padding-left: 1.3vw;
    padding-right: 2vw;
    cursor: pointer;
    border: unset;
    appearance: none;
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23131313%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
    background-repeat: no-repeat;
    background-position: right 1vw top 50%;
    background-size: 0.7vw;
  }
  .lola {
    display: flex;
    flex-direction: row;
    height: 2.5vw;
    background-color: #000000;
    border: 0;
    border-radius: 1.2vw;
    padding: 0.1vw;
  }
  .searchBar {
    display: flex;
    flex-direction: row;
  }
  #searchBox {
    width: 13vw;
    height: 2.5vw;
    background: rgba(255, 245, 0, 0.75);
    border: 0;
    border-radius: 1vw 0vw 0vw 1vw;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 600;
    color: #000000;
    font-size: inherit;
    padding-left: 1vw;
    outline: none;
    caret-color: rgb(255, 0, 0);
  }
  #searchBtn {
    width: 4vw;
    height: 2.5vw;
    cursor: pointer;
    background: rgba(20, 255, 0, 0.75);
    border: 0;
    border-radius: 0px 1vw 1vw 0px;
    color: #ffffff;
    font-size: 1.5vw;
  }
  #searchLogo {
    width: 2.5vw;
  }
  #imgChalk,
  #vidChalk {
    width: 13vw;
    border-radius: 1vw 1vw 0px 0px;
    min-height: 15vw;
    max-height: 15vw;
    object-fit: contain;
    background: #000;
    /* background: conic-gradient(
      from 221.94deg at 50% 50%,
      #14ff00 -98.91deg,
      #fff500 84.7deg,
      #14ff00 261.09deg,
      #fff500 444.7deg
    ); */
  }
  .craftName {
    font-family: "Chakra Petch", sans-serif;
    text-align: center;
    font-weight: 500;
    font-size: 1.5vw;
    color: #ffffff;
    padding: 0 1vw;
    margin-top: 0.1vw;
    margin-bottom: 0.075vw;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .artistName {
    font-family: "Chakra Petch", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.1vw;
    color: #a5a5a5;
  }
  .imgContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 14.5vw;
    height: 20vw;
    background: #232323;
    box-shadow: 0 0.1vw 0.1vw #ffffff;
    border-radius: 1vw;
    padding-top: 0.3vw;
    margin-bottom: 1.5vw;
  }
  .vidContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 14.5vw;
    height: 20vw;
    background: #232323;
    box-shadow: 0 0.1vw 0.1vw #ffffff;
    border-radius: 1vw;
    padding-top: 0.3vw;
    margin-bottom: 1.5vw;
  }
  .content {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    padding-top: 1.5vw;
    margin-top: 4vw;
    justify-content: space-evenly;
  }
  #myModal {
    font-family: "Chakra Petch", sans-serif;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    background-color: #232323;
    box-shadow: 0.1vw 0.1vw 0.1vw #fff500;
    max-width: 80vw;
    padding: 1.75vw;
    border-radius: 1vw;
  }
  .close {
    padding: 0 0.5vw;
    background-color: rgba(20, 255, 0);
    height: 3vw;
    width: 2vw;
    border-radius: 2vw;
    -webkit-text-stroke-width: 0.1vw;
    -webkit-text-stroke-color: #000000;
    border: 0.15vw solid black;
    box-shadow: 0.1vw 0.1vw 0.1vw #fff500;
  }

  .postType {
    width: 7vw;
    color: #ff9100;
    text-shadow: 0.1vw 0.15vw 0.1vw rgb(0, 0, 0);
  }
  .postedBy {
    width: 5.75vw;
    color: #ff9100;
    text-shadow: 0.1vw 0.15vw 0.1vw rgb(0, 0, 0);
  }

  .postTypeModal {
    color: #ffffff;
    text-shadow: 0.1vw 0.15vw 0.1vw rgba(0, 0, 0, 0.5);
  }
  .postedByModal {
    color: #ffffff;
    text-shadow: 0.1vw 0.15vw 0.1vw rgba(0, 0, 0, 0.5);
  }

  .type {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 1vw;
    height: 3vw;
    background-color: #484848;
    border-radius: 0.5vw;
    box-shadow: 0 0.1vw 0.1vw #ffffff;
  }

  .by {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 1vw;
    height: 3vw;
    background-color: #484848;
    border-radius: 0.5vw;
    box-shadow: 0 0.1vw 0.1vw #ffffff;
  }

  .right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1.25vw;
  }

  #info {
    padding: 2vw;
  }

  .imageAndDetails {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1.5vw;
  }

  .imageContainer {
    max-width: 25vw;
    min-width: 17.5vw;
    max-height: 17.5vw;
    min-height: 17.5vw;
    object-fit: contain;
    border-radius: 0.5vw;
    background: conic-gradient(
      from 221.94deg at 50% 50%,
      #14ff00 -98.91deg,
      #fff500 84.7deg,
      #14ff00 261.09deg,
      #fff500 444.7deg
    );
  }

  .details {
    display: flex;
    flex-direction: column;
    gap: 0.5vw;
  }

  .detailRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 1vw;
    height: 3vw;
    background-color: #484848;
    border-radius: 0.5vw;
    box-shadow: 0 0.1vw 0.1vw #ffffff;
  }

  .label {
    font-weight: bold;
    font-size: 1.25vw;
    width: 7.5vw;
    color: #ff9100;
    text-shadow: 0.1vw 0.15vw 0.1vw rgb(0, 0, 0);
  }

  .titleModal,
  .artistModal,
  .toolsModal,
  .videoLinkModal,
  .filtersModal {
    font-size: 1.25vw;
    color: #ffffff;
    text-shadow: 0.1vw 0.15vw 0.1vw rgba(0, 0, 0, 0.5);
    width: 20vw;
    max-height: 1.62vw;
    overflow-y: auto;
    overflow-x: hidden;
    white-space: normal;

    /* Custom Scrollbar for these modals */
    &::-webkit-scrollbar {
      width: 0.3vw;
    }

    &::-webkit-scrollbar-track {
      background-color: #fff70028;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #15ff00;
      border-radius: 1vw;
    }
  }

  .videoLinkModal a {
    color: #007bff;
    text-decoration: none;
  }

  .videoLinkModal a:hover {
    text-decoration: underline;
  }

  .descriptionModal {
    display: flex;
    flex-direction: column;
    margin-top: 1.5vw;
    background-color: #484848;
    border-radius: 0.5vw;
    box-shadow: 0 0.1vw 0.1vw #ffffff;
    padding: 0.5vw 1vw;
  }

  .descriptionModal .label {
    margin-bottom: 0.25vw;
  }

  .descModal {
    padding-bottom: 0.5vw;
    padding-right: 0.5vw;
    font-size: 1vw;
    color: #ffffff;
    text-shadow: 0.1vw 0.15vw 0.1vw rgba(0, 0, 0, 0.5);
    max-height: 7.5vw;
    overflow-y: auto;
    overflow-x: hidden;
    white-space: normal;
  }

  .descModal::-webkit-scrollbar {
    width: 0.3vw;
  }

  .descModal::-webkit-scrollbar-track {
    background-color: #fff70028;
  }

  .descModal::-webkit-scrollbar-thumb {
    background-color: #15ff00;
    border-radius: 1vw;
  }
  .likeShareComment {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 15vw;
    background-color: #484848;
    border-radius: 0.5vw;
    box-shadow: 0 0.25vw 0.5vw #00000050;
    padding: 0.5vw 1vw;
  }

  .actionItem {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 1vw;
    cursor: pointer;
  }

  .likeLogo,
  .shareLogo,
  .commentLogo {
    font-size: 3vw;
  }

  .likeLogo {
    color: rgb(255, 0, 0);
  }

  .likeLogo:hover {
    color: rgba(255, 0, 0, 1);
    text-shadow: 0.1vw 0.15vw 0.1vw rgba(255, 0, 0, 0.5);
    margin-top: -0.5vw;
  }

  .shareLogo {
    color: rgba(255, 255, 0, 0.5);
  }

  .shareLogo:hover {
    color: rgba(255, 255, 0, 1);
    text-shadow: 0.1vw 0.15vw 0.1vw rgba(255, 255, 0, 0.5);
    margin-top: -0.5vw;
  }

  .commentLogo {
    font-size: 3vw;
    color: rgba(0, 255, 0, 0.5);
    margin-top: -0.5vw;
  }

  .commentLogo:hover {
    color: rgba(0, 255, 0, 1);
    text-shadow: 0.1vw 0.15vw 0.1vw rgba(0, 255, 0, 0.5);
    margin-top: -1vw;
  }

  .buttonLabel {
    display: none;
    position: absolute;
    bottom: -2.75vw;
    font-size: 1.5vw;
    color: #fff;
    background-color: #333;
    padding: 0.3vw 0.5vw;
    border-radius: 0.5vw;
    text-align: center;
    opacity: 0;
    transition: opacity 0.2s ease;
  }

  .actionItem:hover .buttonLabel {
    display: block;
    opacity: 1;
  }

  .actionItem .buttonLabel {
    font-size: 1.5vw;
    transition: opacity 0.2s ease;
  }
  .likeCount {
    font-size: 1.25vw;
    margin-top: -0.25vw;
    margin-left: -1.85vw;
    width: 1.5vw;
  }
  .deleteBtn {
    position: absolute;
    background-color: #232323;
    width: 3vw;
    border: 0.2vw solid rgb(255, 255, 255);
    border-radius: 1.25vw;
    cursor: pointer;
    color: red;
    font-size: 2.25vw;
    z-index: 0;
    margin-top: -20vw;
    margin-right: -15vw;
  }

  .deleteBtn:hover {
    scale: 1.1;
    margin-top: -19vw;
    margin-right: -14vw;
  }
  .noPostFound {
    font-size: 2.75vw;
    margin: 9vw 37.5vw;
    font-family: "Chakra Petch", sans-serif;
    color: rgb(255, 0, 0);
    text-shadow: 0.1vw 0.1vw 0.25vw rgb(255, 0, 0);
  }
}
@media only screen and (max-width: 550px) {
  .wrapper {
    transition: filter 0.3s ease-in-out;
  }

  .wrapper.blurred {
    filter: blur(5px);
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
    display: none;
  }

  .overlay.active {
    display: block;
    backdrop-filter: blur(1vw);
    z-index: 1;
  }

  .contAll {
    color: #000000;
    font-family: "Chakra Petch", sans-serif;
    font-size: 2vw;
    font-weight: 500;
    text-shadow: 0.1vw 0.2vw 0.2vw rgba(0, 0, 0, 0.5);
    background: #fcfcfc;
    height: 2.5vw;
    box-shadow: 0.2vw 0.2vw 0.3vw #14ff00;
    border-radius: 1.1vw;
    padding: 0.2vw 1.3vw;
    cursor: pointer;
  }
  .contVideo {
    color: #ffffff;
    font-family: "Chakra Petch", sans-serif;
    font-size: 2vw;
    font-weight: 500;
    text-shadow: 0.1vw 0.15vw 0.2vw rgba(255, 255, 255, 0.2);
    background: #000000;
    height: 2.5vw;
    border-radius: 1.1vw;
    padding: 0.2vw 1.3vw;
    margin-left: 0.5vw;
    cursor: pointer;
  }
  .discover {
    background: #000000;
    border-radius: 1.5vw 1.5vw 0px 0px;
    width: 94vw;
    min-height: 87.5vh;
    margin: 0 2vh;
    padding-top: 1vw;
    margin-left: 3vw;
  }
  .discoverBar {
    width: 80vw;
    display: flex;
    flex-direction: row;
    color: #ffffff;
    font-family: "Chakra Petch", sans-serif;
    font-size: 2.5vw;
    font-weight: 500;
    text-shadow: 0.1vw 0.15vw 0.2vw rgba(255, 255, 255, 0.2);
    height: 4vw;
    border-radius: 1.1vw;
    padding: 0vw 1.3vw;
    padding-bottom: 0.7vw;
    margin-left: 5.75vw;
    margin-right: 6vw;
    justify-content: space-around;
    background: #1e1e1e;
    box-shadow: 0vw 0.2vw 0.2vw #fff500;
    border-radius: 0px 0px 1.2vw 1.2vw;
    position: fixed;
    margin-top: 5vh;
    z-index: 99;
  }
  #filter {
    color: #000000;
    font-family: "Chakra Petch", sans-serif;
    font-size: 2vw;
    font-weight: 500;
    text-shadow: 0.1vw 0.1vw 0.2vw rgba(0, 0, 0, 0.5);
    background: #fcfcfc;
    height: 3.5vw;
    width: 20vw;
    box-shadow: 0.15vw 0.2vw 0.2vw #ffffff;
    border: 0;
    border-radius: 0.7vw;
    padding-left: 1.3vw;
    padding-right: 2vw;
    cursor: pointer;
    border: unset;
    appearance: none;
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23131313%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
    background-repeat: no-repeat;
    background-position: right 1vw top 50%;
    background-size: 1.1vw;
  }
  .searchBar {
    display: flex;
    flex-direction: row;
  }
  #searchBox {
    width: 17vw;
    height: 3.5vw;
    background: rgba(255, 245, 0, 0.75);
    border: 0;
    border-radius: 1vw 0vw 0vw 1vw;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 600;
    color: #000000;
    font-size: inherit;
    padding-left: 1vw;
    caret-color: rgb(255, 0, 0);
    outline: none;
  }
  #searchBtn {
    width: 5vw;
    height: 3.5vw;
    cursor: pointer;
    background: rgba(20, 255, 0, 0.75);
    border: 0;
    border-radius: 0px 1vw 1vw 0px;
    color: #ffffff;
    font-size: 1.7vw;
  }

  .lola {
    display: flex;
    flex-direction: row;
    height: 3.3vw;
    background-color: #000000;
    border: 0;
    border-radius: 1.2vw;
    padding: 0.1vw;
  }
  #imgChalk,
  #vidChalk {
    width: 35vw;
    border-radius: 2vw 2vw 0px 0px;
    min-height: 20vh;
    max-height: 20vh;
    object-fit: contain;
    background: #000;
  }
  .craftName {
    font-family: "Chakra Petch", sans-serif;
    text-align: center;
    font-weight: 500;
    font-size: 2vh;
    color: #ffffff;
    margin-top: 0.25vh;
    margin-bottom: 0.075vh;
  }
  .artistName {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 600;
    font-size: 1.5vh;
    color: #a5a5a5;
  }
  .imgContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 39vw;
    height: 27.5vh;
    background: #232323;
    box-shadow: 0 0.1vh 0.1vh #ffffff;
    border-radius: 1vh;
    margin-bottom: 2.5vh;
  }
  .vidContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 39vw;
    height: 27.5vh;
    background: #232323;
    box-shadow: 0 0.1vh 0.1vh #ffffff;
    border-radius: 1vh;
    margin-bottom: 2.5vh;
  }
  .content {
    display: grid;
    grid-template-columns: auto auto;
    padding-top: 2vh;
    margin-top: 8vh;
    justify-content: space-evenly;
  }
  #myModal {
    font-family: "Chakra Petch", sans-serif;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    background-color: #232323;
    box-shadow: 0.1vh 0.1vh 0.1vh #fff500;
    max-width: 80vw;
    padding: 1.75vh;
    border-radius: 1vh;
  }
  .close {
    padding: 0 0.5vh;
    background-color: rgba(20, 255, 0);
    height: 3vh;
    width: 2vh;
    border-radius: 2vh;
    -webkit-text-stroke-width: 0.1vh;
    -webkit-text-stroke-color: #000000;
    border: 0.15vh solid black;
    box-shadow: 0.1vh 0.1vh 0.1vh #fff500;
  }

  .postType {
    width: 7vh;
    color: #ff9100;
    text-shadow: 0.1vh 0.15vh 0.1vh rgb(0, 0, 0);
  }
  .postedBy {
    width: 5.75vh;
    color: #ff9100;
    text-shadow: 0.1vh 0.15vh 0.1vh rgb(0, 0, 0);
  }

  .postTypeModal {
    color: #ffffff;
    text-shadow: 0.1vh 0.15vh 0.1vh rgba(0, 0, 0, 0.5);
  }
  .postedByModal {
    color: #ffffff;
    text-shadow: 0.1vh 0.15vh 0.1vh rgba(0, 0, 0, 0.5);
  }

  .type {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 1vh;
    height: 3vh;
    background-color: #484848;
    border-radius: 0.5vh;
    box-shadow: 0 0.1vh 0.1vh #ffffff;
  }

  .by {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 1vh;
    height: 3vh;
    background-color: #484848;
    border-radius: 0.5vh;
    box-shadow: 0 0.1vh 0.1vh #ffffff;
  }

  .right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1.25vh;
  }

  #info {
    padding: 2vh;
  }

  .imageAndDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1vh;
  }

  .imageContainer {
    max-width: 30vh;
    min-width: 30vh;
    max-height: 30vh;
    min-height: 25vh;
    object-fit: contain;
    border-radius: 0.5vh;
    background: conic-gradient(
      from 221.94deg at 50% 50%,
      #14ff00 -98.91deg,
      #fff500 84.7deg,
      #14ff00 261.09deg,
      #fff500 444.7deg
    );
  }

  .details {
    display: flex;
    flex-direction: column;
    gap: 0.75vh;
  }

  .detailRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 1vh;
    height: 3vh;
    background-color: #484848;
    border-radius: 0.5vh;
    box-shadow: 0 0.1vh 0.1vh #ffffff;
  }

  .label {
    font-weight: bold;
    font-size: 1.25vh;
    width: 7.5vh;
    color: #ff9100;
    text-shadow: 0.1vh 0.15vh 0.1vh rgb(0, 0, 0);
  }

  .titleModal,
  .artistModal,
  .toolsModal,
  .videoLinkModal,
  .filtersModal {
    font-size: 1.25vh;
    color: #ffffff;
    text-shadow: 0.1vh 0.15vh 0.1vh rgba(0, 0, 0, 0.5);
    width: 20vh;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    overflow-y: auto;
    padding: right 0.5vh;

    /* Custom Scrollbar for these modals */
    &::-webkit-scrollbar {
      width: 0.3vh;
    }

    &::-webkit-scrollbar-track {
      background-color: #fff70028;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #15ff00;
      border-radius: 1vh;
    }
  }

  .videoLinkModal a {
    color: #007bff;
    text-decoration: none;
  }

  .videoLinkModal a:hover {
    text-decoration: underline;
  }

  .descriptionModal {
    display: flex;
    flex-direction: column;
    margin-top: 1.5vh;
    background-color: #484848;
    border-radius: 0.5vh;
    box-shadow: 0 0.1vh 0.1vh #ffffff;
    padding: 0.5vh 1vh;
  }

  .descriptionModal .label {
    margin-bottom: 0.25vh;
  }

  .descModal {
    padding-bottom: 0.5vh;
    padding-right: 0.5vh;
    font-size: 1vh;
    color: #ffffff;
    text-shadow: 0.1vh 0.15vh 0.1vh rgba(0, 0, 0, 0.5);
    display: -webkit-box;
    -webkit-line-clamp: 6;
    line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    overflow-y: auto;
    max-height: 10vh;
  }

  .descModal::-webkit-scrollbar {
    width: 0.3vh;
  }

  .descModal::-webkit-scrollbar-track {
    background-color: #fff70028;
  }

  .descModal::-webkit-scrollbar-thumb {
    background-color: #15ff00;
    border-radius: 1vh;
  }
  .likeShareComment {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 25vw;
    background-color: #484848;
    border-radius: 0.5vh;
    box-shadow: 0 0.25vh 0.5vh #00000050;
    padding: 0.5vh 1vh;
  }

  .actionItem {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 1vh;
    cursor: pointer;
  }

  .likeLogo,
  .shareLogo,
  .commentLogo {
    font-size: 4.5vw;
  }

  .likeLogo {
    color: rgba(255, 0, 0, 0.5);
  }

  .likeLogo:hover {
    color: rgba(255, 0, 0, 1);
    text-shadow: 0.1vh 0.15vh 0.1vh rgba(255, 0, 0, 0.5);
    margin-top: -0.5vh;
  }

  .likedLogo {
    font-size: 3vh;
    color: rgba(255, 0, 0, 1);
    text-shadow: 0.1vh 0.15vh 0.1vh rgba(255, 0, 0, 0.5);
  }

  .shareLogo {
    color: rgba(255, 255, 0, 0.5);
  }

  .shareLogo:hover {
    color: rgba(255, 255, 0, 1);
    text-shadow: 0.1vh 0.15vh 0.1vh rgba(255, 255, 0, 0.5);
    margin-top: -0.5vh;
  }

  .commentLogo {
    font-size: 4.5vw;
    color: rgba(0, 255, 0, 0.5);
    margin-top: -0.5vh;
  }

  .commentLogo:hover {
    color: rgba(0, 255, 0, 1);
    text-shadow: 0.1vh 0.15vh 0.1vh rgba(0, 255, 0, 0.5);
    margin-top: -1vh;
  }

  .buttonLabel {
    display: none;
    position: absolute;
    bottom: -2.75vh;
    font-size: 1.5vh;
    color: #fff;
    background-color: #333;
    padding: 0.3vh 0.5vh;
    border-radius: 0.5vh;
    text-align: center;
    opacity: 0;
    transition: opacity 0.2s ease;
  }

  .actionItem:hover .buttonLabel {
    display: block;
    opacity: 1;
  }

  .actionItem .buttonLabel {
    font-size: 1.5vh;
    transition: opacity 0.2s ease;
  }
  .deleteBtn {
    position: absolute;
    background-color: #232323;
    width: 3vh;
    border: 0.2vh solid rgb(255, 255, 255);
    border-radius: 1.25vh;
    cursor: pointer;
    color: red;
    font-size: 2.25vh;
    z-index: 0;
    margin-top: -27.5vh;
    margin-right: -17.5vh;
  }

  .deleteBtn:hover {
    scale: 1.1;
    margin-top: -26.5vh;
    margin-right: -16.5vh;
  }
  .noPostFound {
    font-size: 3vh;
    margin: 35vh 11.75vh;
    font-family: "Chakra Petch", sans-serif;
    color: rgb(255, 0, 0);
    text-shadow: 0.1vw 0.1vw 0.25vw rgb(255, 0, 0);
  }
}
