@import url("https://fonts.googleapis.com/css2?family=Aldrich&family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&family=Marvel:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  padding: 0;
  margin: 0;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: #1e1e1e;
  cursor: none;
}

/* Custom Cursor */
.custom-cursor {
  position: fixed;
  width: 2.5vw;
  height: 2.5vw;
  background: url("./Resources/chalk.png") no-repeat center center;
  background-size: contain;
  pointer-events: none;
  transform: translate(-50%, -50%) rotate(-45deg); /* Initial rotation */
  z-index: 9999;
  margin-left: 0.75vw;
  margin-top: 0.75vw;
  transition: transform 0.3s ease; /* Smooth transition for rotation */
}

/* Trail Line (Chalk Effect) */
.trail-line {
  position: fixed;
  height: 0.3vw;
  background: rgb(0, 217, 255); /* Bright white */
  border-radius: 1vw; /* Slightly rounded edges for chalkiness */
  pointer-events: none;
  transform-origin: left center;
  box-shadow: 0 0 0.5vw rgb(0, 217, 255, 0.5);
  animation: fadeOut 0.15s ease-in-out forwards;
  z-index: 9998;
}

/* Trail Fade Animation */
@keyframes fadeOut {
  to {
    opacity: 0;
  }
}

body::-webkit-scrollbar {
  width: 0.3vw;
}

body::-webkit-scrollbar-track {
  background-color: #fff70028;
}

body::-webkit-scrollbar-thumb {
  background-color: #15ff00;
  border-radius: 1vw;
}
